{% extends 'base.html' %}

{% block titulo %} Cadastro {% endblock titulo %}

{% block conteudo %}
    <style>
        body {
            background-image: url("static/img/login.jpg");
            background-size: cover;
            background-position: center;
            font-family: Arial, sans-serif;
        }

        .login-box {
            width: 350px;
            padding: 40px;
            background: rgba(255, 255, 255, 0.9);
            box-shadow: 0 0 10px rgba(0,0,0,0.3);
            border-radius: 10px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .login-box h1 {
            text-align: center;
            margin-bottom: 30px;
        }

        .login-box .btnlog {
            width: 100%;
            padding: 10px;
            background-color: #6c0ffe;
            border: none;
            color: white;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }

        .login-box .btnlog:hover {
            background-color: black;
        }
    </style>

    <div class="login-box">
        <h1>Cadastro</h1>
        <hr>
        <form action="{{url_for('front_controller.cadastrar')}}" method="POST">
            <div class="mb-3">
                <label for="usuario_email" class="form-label">E-mail:</label>
                <input type="email" class="form-control" id="usuario_email" name="email" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="usuario_senha" class="form-label">Senha:</label>
                <input type="password" class="form-control" id="usuario_senha" name="senha">
            </div>
            <button type="submit" class="btnlog">Cadastro</button>
        </form>
            <form action="login" method="POST">
        <br>
        <button type="submit">Já tenho conta!</button>
    </form>
    </div>
{% endblock conteudo %}
