{% extends 'base.html' %}
{% block titulo %}Segredo{% endblock titulo %}
{% block conteudo %}

<style>
    body{
        background-image: url('{{ url_for("static", filename="img/backgroundalbum.png") }}');
    }
    h1{
        color:#9c73df;
        text-align:center;
        margin-top:20px;
    }
    .foto-central {
        display:block;
        margin:40px auto;
        width:350px;
        border-radius:8px;
        cursor:pointer;
        transition:0.2s;
    }
    .foto-central:hover {
        transform:scale(1.05);
    }
</style>

<h1>TUDO CULPA SUA</h1>
<a href="{{ url_for('front_controller.secret_show', n=proxima) }}">
    <img src="{{ url_for('static', filename=atual) }}" class="foto-central">
</a>
<audio autoplay loop>
    <source src="{{ url_for('static', filename='sound/secret.mp3') }}" type="audio/mpeg">
</audio>
{% endblock conteudo %}
